.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.menuItem{
    display: inline-block;
}

.menuItem a{
    color: gray;
    margin: 0 15px;
}

.menuContainer{
    border: 1px solid gainsboro;
    margin: 10px 0;
}